<hr>
<h1>Working with objects (1)</h1>
<br>
<table>
    <tr>
        <td>ID</td>
        <td>{{ prd001.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ prd001.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ prd001.description }}</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>{{ prd002.id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ prd002.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ prd002.description }}</td>
    </tr>
</table>