<hr>
<h1>Working with arrays</h1>
<p>This is the first element of the "products" array:</p>
<table>
    <tr>
        <td>ID</td>
        <td>{{ products[0][0] }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ products[0][1] }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ products[0][2] }}</td>
    </tr>
</table>

<p>This is the <b>third</b> element of the "products" array:</p>
<table>
    <tr>
        <td>ID</td>
        <td>{{ products[2][0] }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ products[2][1] }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ products[2][2] }}</td>
    </tr>
</table>