<h1>This is the Root Component</h1>
<p>(following elements are child components)</p>

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td><a [routerLink] = "'/prt001'">Part 001</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt002'">Part 002</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt003'">Part 003</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt004'">Part 004</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt005'">Part 005</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt006'">Part 006</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt007'">Part 007</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt008'">Part 008</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt009'">Part 009</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt010'">Part 010</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt011'">Part 011</a></td>
                </tr>
                <tr>
                    <td><a [routerLink] = "'/prt013'">Part 013</a></td>
                </tr>
            </table>
        
        </td>
        <td><router-outlet></router-outlet></td>
    </tr>
</table>





